.container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5% ;
    border: 2px solid black;
    border-radius: 5px;
    width: 45%;
    height: 20px;
    padding: 10px;
}

.btn{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    border: 2px solid black;
    border-radius: 5px;
    background-color: aqua;
    padding: 5px;
    font-size: large;
    height: 30px;
    font-weight: bold;
}

.heading{
    text-align: center;
}
.note_container{
    display: flex;
    justify-content: space-between;
    margin-top: 5% ;
    border: 2px solid black;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 10px;
    background-color: lightcyan;
}
.btn_holder{
    width: 100%;   
    display: grid;  
}
.btn_container{
    display: block;
}
.btn1{
    margin-top: 1%; 
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(236, 50, 50);
    padding: 5px;
    font-size: large;
    height: 30px;
    font-weight: bold;
    color: white;
}
.btn2{
    margin-top: 1%;
    border: 2px solid black;
    border-radius: 5px;
    background-color: lightgreen;
    padding: 5px;
    font-size: large;
    height: 30px;
    font-weight: bold;
    color: black;
}

.sub_container{
    width: 95%;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
}

.btn3{
    border: 2px solid black;

    border-radius: 5px;
    background-color: aqua;
    padding: 10px;
    font-size: large;
   
    font-weight: bold;
}